{% extends "base.html" %}
{% block title %}Deep3ssas - Parkings{% endblock %}
{% block content %}

    <div class="container mt-4">
        <div class="row">
            <div class="col text-center ">
                <h2>Deep3ssas Parking Locations</h2>
            </div>
        </div>
    </div>

    <div class="m-3 rounded">
        <div class="container-fluid">
            <div class="accordion" id="parkingAccordion">
                {% for parking_id, parking_data in my_dict['parkings'].items() %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ parking_id }}">
                        <button class="accordion-button collapsed"  type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ parking_id }}" aria-expanded="false" aria-controls="collapse{{ parking_id }}">

                            <div class="row w-50">
                                <div class="col">
                            <p>{{parking_data['sourceInfos']['City']}} , {{parking_data['sourceInfos']['Country code']}} : </p> 
                                    
                                </div>
                                <div class="col">
                                  <span class="text-success">Empty spaces: {{ parking_data.detections.empty }}</span>
                                </div>
                                <div class="col">
                                  <span class="text-danger">Full spaces: {{ parking_data.detections.full }}</span>
                                </div>
                                <div class="col p-1">
                                    <span class="text-primary ">Last update: {{ my_dict['last_update'] }} s</span>
                                  </div>
                              </div>
                        </button>
                        
                    </h2>
                    <div id="collapse{{ parking_id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ parking_id }}" data-bs-parent="#parkingAccordion">
                        <div class="accordion-body">
                            {% if parking_data is mapping %}
                                <div class="row">
                                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                                        {% if parking_data.image %}
                                        <img class="img-fluid rounded" src="{{parking_data.image}}" alt="Parking Image" style="width: 100%; max-width: 500px; height: auto;">
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <h4 class="mb-4">Parking Details and Availability:</h4>
                                                <div class="row bg-light p-3 mb-3 rounded">
                                                    {% for key, value in parking_data.items() %}
                                                    {% if key not in ['detections', 'sourceInfos','image','freespace','labels'] %}
                                                        <div class="col-md-6">
                                                            {% if key=="source" %}
                                                            <p class="mb-2"><strong>{{ key }}:</strong> <a href="{{ value }}"  target="_blank">view source </a></p>

                                                            {% else %}
                                                            <p class="mb-2"><strong>{{ key }}:</strong> {{ value }}</p>
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% if 'detections' in parking_data %}
                                                        <div class="col-12">
                                                            <h4 class="mb-4">Detections:</h4>
                                                        </div>
                                                        {% for key, value in parking_data.detections.items() %}
                                                        <div class="col-md-6">
                                                            <p class="mb-2"><strong>{{ key }}:</strong> {{ value }}</p>
                                                        </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                    {% if 'sourceInfos' in parking_data %}
                                                        <div class="col-12">
                                                            <h4 class="mb-4">Source Information:</h4>
                                                        </div>
                                                        {% for key, value in parking_data.sourceInfos.items() %}
                                                        <div class="col-md-6">
                                                            <p class="mb-2"><strong>{{ key }}:</strong> {{ value }}</p>
                                                        </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <p>{{ parking_data }}</p>
                            {% endif %}
                        </div>    
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        // Fetch parking locations and populate the dropdown list
        async function fetchParkingLocations() {
            try {
                const response = await fetch('/status');
                const data = await response.json();
                const parkingSelect = document.getElementById('parkingSelect');

                // Clear the current options
                parkingSelect.innerHTML = '';

                // Add an option for each parking location
                for (const id in data) {
                    const parking = data[id];
                    const option = document.createElement('option');
                    option.value = id;
                    option.textContent = `${parking.city}, ${parking.region} - ${parking.description}`;
                    parkingSelect.appendChild(option);
                }
            } catch (error) {
                console.error('Error fetching parking locations:', error);
            }
        }

        // Call the function when the page loads
        fetchParkingLocations();
    </script>
{% endblock %}
