<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <DB_HOST>db.bit.io</DB_HOST>
    <DB_PORT>5432</DB_PORT>
    <DB_NAME>psnmd02/trial</DB_NAME>
    <DB_USER>psnmd02</DB_USER>
    <DB_PASSWORD>v2_43Va9_NCasc7xqRFRR8FVaEy6PjmK</DB_PASSWORD>
    <APIHOSTNAME>https://deep3ssasapi.azurewebsites.net</APIHOSTNAME>
    <AZURE_CONNECTION_STRING>DefaultEndpointsProtocol=https;AccountName=deep3ssasstorage;AccountKey=ot9MGunWfagNUW3xfFxpeggSFXSJBBsY+jeBcgXda/K/eUfOeoFABJhFN8M3zYpS0zlXTx+Ujzsr+AStUG08Yg==;EndpointSuffix=core.windows.net</AZURE_CONNECTION_STRING>
    <CONTAINER_NAME_IMAGES>imgs</CONTAINER_NAME_IMAGES>
    <CONTAINER_NAME_LABELS>lbls</CONTAINER_NAME_LABELS>
</configuration>
